<div style="position:absolute;color:#ccc;z-index:2;">
    Players Online: {{ usersOnline.length }}<br/>
    <pre style="font-family:inherit;">{{ usersOnline | usersonline }}</pre>
</div>
<ul class="pages">
    
    <li class="login page">
        <form class="form" name="games" autocomplete="off">
            <h3 class="title" style="margin-top: -10%;">Games</h3>
            
            <div class="button" ng-repeat="game in gamelist">
                <label>
                    <button ng-class="game.id === gameId ? 'ingame' : ''" ng-click="gameRequest(game.id)"> Current/Needed: {{ game.currentPlayers }} / {{ game.maxPlayers }}
                    <br/>
                    # of AIs: {{ game.numAIs }}
                    <br/>
                    Gametype: {{ game.gametype }}
                    <div ng-switch on="game.gametype">
                        <div ng-switch-when="points">
                            Points To Win: {{ game.maxPoints }}
                        </div>
                        <div ng-switch-when="elimination">
                            Lives: {{ game.maxLives }}
                        </div>
                        <div ng-switch-default></div>
                    </div>
                    {{ game.playerNames | usernames }}
                </label>
                <br/>
            </div>

            </br></br>
            <div style="display: {{ displayCreate }};" ng-init="newgame.gametype=points">
                <h3 class="title">Create Game</h3>
                <input class='number-input' type="text" ng-model="newgame.numPlayers"> Number of Human Players</input></br></br>
                <input class='number-input' type="text" ng-model="newgame.numAIs"> Number of AIs</input></br></br>
                <input class='number-input' type="text" ng-model="newgame.numBalls"> Number of Balls</input></br></br>
                <table class="box">
                    <tr>
                        <th colspan="2">Game Type</th>
                    </tr>
                    <tr>
                        <td><input class="radio" type="radio" name="gametype" ng-model="newgame.gametype" value="points" ng-init="newgame.gametype='points'"></input></td>
                        <td class="radio-text">Points</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><div class="animate-show" ng-show="newgame.gametype === 'points'"><input class="number-input" type="text" ng-model="newgame.maxPoints" ng-init="newgame.maxPoints='10'" value="10"> Points</input></div>
                    </tr>
                    <tr>
                        <td><input class="radio" type="radio" name="gametype" ng-model="newgame.gametype" value="elimination"></input></td>
                        <td class="radio-text">Elimination</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><div class="animate-show" ng-show="newgame.gametype === 'elimination'"><input class="number-input" type="text" ng-model="newgame.maxLives" ng-init="newgame.maxLives='3'" value="3"> Lives&nbsp;&nbsp;</input></div>
                    </tr>
                </table></br>
                <button type="submit" ng-click="create(newgame)">Create</button>
            </div>
        </form>
    </li>
</ul>